<!DOCTYPE html>
<html lang="en">
<head>

</head>  
<body>  

<!-- main-cont -->
<div class="main-cont">
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">Hotels - <span>booking complete</span></div>
      <div class="breadcrumbs">
        <a href="#">Home</a> / <a href="#">Hotel</a> / <span>hotel booking</span>
      </div>
      <div class="clear"></div>
    </div>

	<div class="sp-page">
		<div class="sp-page-a">
			<div class="sp-page-l">
  				<div class="sp-page-lb">
  					<div class="sp-page-p">
						<div class="booking-left">
							<h2>Booking Complete</h2>
							
							<div class="comlete-alert">
								<div class="comlete-alert-a">
									<b style="font-size: 20pt">Thank You. Your Booking is Updated.</b>
									<span></span>
								</div>
                            </div>
                            
                            <div class="complete-txt">
                            <div class="complete-txt-link"><%= link_to 'Return to My Reservation', my_reservation_path  %></div>
                            </div>

							<div class="complete-txt">

							</div>

                            <div class="complete-devider"></div>

							<div class="complete-info">
								<h2>Your Personal Information</h2>
								<div class="complete-info-table">
									<div class="complete-info-i">
										<div class="complete-info-l">E-Mail Adress:</div>
										<div class="complete-info-r"><%= current_user.email %> </div>
										<div class="clear"></div>
									</div>
									<div class="complete-info-i">
										<div class="complete-info-l">Country:</div>
										<div class="complete-info-r">Austria</div>
										<div class="clear"></div>
									</div>
									<div class="complete-info-i">
										<div class="complete-info-l">Phone Number:</div>
										<div class="complete-info-r">+8 256 254 25 625</div>
										<div class="clear"></div>
									</div>
								</div>
								
								<div class="complete-devider"></div>
								
								<div class="complete-txt">
									<h2>Payment Info</h2>
									<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt. Que porro quisqua. Sed ut perspiciatis unde omnis ste natus error sit voluptatem.</p>
									<div class="complete-txt-link"><a href="#">Payment is made by Via Paypal.</a></div>
								</div>
								
								<div class="complete-devider"></div>
								
								<div class="complete-txt final">
									<h2>Update Booking</h2>
									<%= form_tag( booking_update_path, method: :get ) do |f| %>
									
									<div class="rates-line">
										
										<div class="srch-tab-line">
											<div class="srch-tab-left">
												<label>Check in</label>
												<%= date_field_tag :checkin_date, Date.today %>
											</div>
	
											<div class="srch-tab-right">
												<label>Check out</label>
												<%= date_field_tag :checkout_date, Date.parse(1.day.from_now.to_s)  %>
											</div>
											<div class="clear"></div>
										</div>
										<!-- \\ -->
									</div>
									<div class="rates-line-right">
										<!-- // -->
										<div class="srch-tab-line no-margin-bottom">
											<div class="srch-tab-3c">
												<label>Rooms</label>
												<%= select_tag :room_count, options_for_select(["1","2","3","4"]) %>
											</div>
	
											<div class="srch-tab-3c">
												<label>Adult</label>
												<%= select_tag :adult_count, options_for_select(["1","2","3","4"]) %>
											</div>
											<div class="srch-tab-3c">
												<label>Child</label>
												<%= select_tag :child_count, options_for_select(["0", "1","2","3","4"]) %>

											</div>
											<div class="clear"></div>
										</div>
										<!-- \\ -->  
									</div>
									<div class="booking-complete">
									<h2>Update your trip</h2>
									<%= hidden_field_tag 'booking', @booking %>
									<button class="booking-complete-btn"> Update Booking<%= submit_tag 'Update Booking', :style => "display: none;"  %> </button>
									<% end %>
								</div>								</div>
								</div>
								
							</div>
							
						</div>
  					</div>
  				</div>
  				<div class="clear"></div>
			</div>
			

		</div>

		<div class="sp-page-r">

			<div class="h-help">
				<div class="h-help-lbl">Need Sparrow Help?</div>
				<div class="h-help-lbl-a">We would be happy to help you!</div>
				<div class="h-help-phone">2-800-256-124 23</div>
				<div class="h-help-email">sparrow@mail.com</div>
			</div>
			<div class="h-reasons">
				<div class="h-liked-lbl">Reasons to Book with us</div>
				<div class="h-reasons-row">
				<!-- // -->
					<div class="reasons-i">
					<div class="reasons-h">
						<div class="reasons-l">
							<img alt="" src="assets/reasons-a.png">
						</div>
						<div class="reasons-r">
  						<div class="reasons-rb">
							<div class="reasons-p">
								<div class="reasons-i-lbl">Awesome design</div>
								<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
							</div>
  						</div>
  						<br class="clear">
						</div>
					</div>
					<div class="clear"></div>
					</div>
				<!-- \\ -->	
				<!-- // -->
					<div class="reasons-i">
					<div class="reasons-h">
						<div class="reasons-l">
							<img alt="" src="assets/reasons-b.png">
						</div>
						<div class="reasons-r">
  						<div class="reasons-rb">
							<div class="reasons-p">
								<div class="reasons-i-lbl">carefylly handcrafted</div>
								<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
							</div>
  						</div>
  						<br class="clear">
						</div>
					</div>
					<div class="clear"></div>
					</div>
				<!-- \\ -->	
				<!-- // -->
					<div class="reasons-i">
					<div class="reasons-h">
						<div class="reasons-l">
							<img alt="" src="assets/reasons-c.png">
						</div>
						<div class="reasons-r">
  						<div class="reasons-rb">
							<div class="reasons-p">
								<div class="reasons-i-lbl">sustomer support</div>
								<p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
							</div>
  						</div>
  						<br class="clear">
						</div>
					</div>
					<div class="clear"></div>
					</div>
				<!-- \\ -->				
				</div>
			</div>
			
		</div>
		<div class="clear"></div>
	</div>

    </div>	
  </div>  
</div>
<!-- /main-cont -->


<!-- // scripts // -->
  <script>
  	$(document).ready(function(){
		'use strict';
		(function($) {
			$(function() {
				$('.checkbox input').styler({
					selectSearch: true
				});
			});
		})(jQuery);
  	});
  </script>
<!-- \\ scripts \\ --> 
 
</body>  
</html> 