<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<!-- main-cont -->
<div class="main-cont">
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">Hotels - <span>booking</span></div>
      <div class="breadcrumbs">
        <a href="#">Home</a> / <a href="#">Hotel</a> / <span>hotel booking</span>
      </div>
      <div class="clear"></div>
    </div>

	<div class="sp-page">
		<div class="sp-page-a">
			<div class="sp-page-l">
  				<div class="sp-page-lb">
  					<div class="sp-page-p">
						<div class="booking-left">
						
							<h2>How would you like to pay?</h2>

							<div class="payment-wrapper">
								<div class="payment-tabs">
									<a href="#" class="active">Credit Card <span></span></a>
									<a href='#'>Reward Points <span></span></a>
								</div>
								<div class="clear"></div>
								<div class="payment-tabs-content">
									<!-- // -->
									<div class="payment-tab">
                                        <%= render partial: 'payment_form', locals: { dest_path: booking_complete_path, hotel: @hotel_to_book } %>
                                        <div class="clear"></div>
                                        <br />
										<div class="checkbox">
                							<label>
                  								<input type="checkbox" value="" />
                  								I accept the <a href="#">Terms & Conditions.</a>
                							</label>
              							</div>
									</div>
									<!-- \\ -->
									<div class="payment-tab">
										<h2>Review and book your trip</h2>
										<div class="payment-alert">
											
										<% if current_user.reward_points >= 10 %>
											<span>You will be redeeming 10 Reward Points to complete your payment.</span>
											<h3>You currently have <%= current_user.reward_points %> Reward Points </h3>
											
											<!-- NEED TO ADD FUNCTIONALITY TO THIS BUTTON -->
											<%= form_tag reward_booking_path remote: true do |f| %>
												<%= submit_tag 'Complete Payment', class: 'booking-complete-btn' %>
											<% end %>

										<% end %>
										<% if current_user.reward_points < 10 %>
											<span>You do not have enough reward points to complete your payment.</span>
											<h3>You currently only have <%= current_user.reward_points %> Reward Points.</h3>
										<% end %>
										
									</div>

									</div>
								</div>

							</div>

						</div>
  					</div>
  				</div>
  				<div class="clear"></div>
			</div>
		</div>

		<div class="sp-page-r">

			<div class="checkout-coll">
				<div class="checkout-head">
					<div class="checkout-headl">
 						<%= image_tag @hotel_to_book.photo_reference, size:"94x75"%>
					</div>
					<div class="checkout-headr">
  						<div class="checkout-headrb">
  							<div class="checkout-headrp">
    							<div class="chk-left">
    								<div class="chk-lbl"><%= @hotel_to_book.hotel_name %></div>
    								<div class="chk-lbl-a"><%= @hotel_to_book.formatted_address %> </div>
    								<nav class="chk-stars">
    									<ul>
											<% if @hotel_to_book.google_rating > 0 %>
											<li>
											<img alt="" src="assets/hd-star-b.png">
											</li>
											<% end %>
											<% if @hotel_to_book.google_rating > 1 %>
											<li>
											<img alt="" src="assets/hd-star-b.png">
											</li>
											<% end %>
											<% if @hotel_to_book.google_rating > 2 %>
											<li>
											<img alt="" src="assets/hd-star-b.png">
											</li>
											<% end %>
											<% if @hotel_to_book.google_rating > 3 %>
											<li>
											<img alt="" src="assets/hd-star-b.png">
											</li>
											<% end %>
											<% if @hotel_to_book.google_rating > 4 %>
											<li>
											<img alt="" src="assets/hd-star-b.png">
											</li>
											<% end %>
    									</ul>
    									<div class="clear"></div>
    								</nav>

    							</div>
    							<div class="chk-right">

    							</div>
    							<div class="clear"></div>
  							</div>
  						</div>
  						<div class="clear"></div>
					</div>
				</div>

				<div class="chk-lines">
					<div class="chk-line">
						<span class="chk-nights"><%= @number_nights %>  Nights</span>
						<span class="chk-dates"><%= @checkin_date %>  /  <%= @checkout_date %></span>
					</div>					
				</div>

				<div class="chk-details">
					<h2>Details</h2>
					<div class="chk-detais-row">						
						<div class="chk-line">
							<span class="chk-l">price</span>
							<span class="chk-r"><%= @room_price %>$</span>
							<div class="clear"></div>
						</div>
						<div class="chk-line">
							<span class="chk-l"> Number of nights stay</span>
							<span class="chk-r"><%= @number_nights %> </span>
							<div class="clear"></div>
						</div>

					</div>
					<div class="chk-total">
						<div class="chk-total-l">Total Price</div>
						<div class="chk-total-r">$ <%= @total_price %></div>
						<div class="clear"></div>
					</div>
				</div>

			</div>

			<div class="h-help">
				<div class="h-help-lbl">Need LikeHome Help?</div>
				<div class="h-help-lbl-a">We would be happy to help you!</div>
				<div class="h-help-phone">1-800-777-7777</div>
				<div class="h-help-email">likehome@sjsu.edu</div>
			</div>

		</div>
		<div class="clear"></div>
	</div>

    </div>
  </div>
</div>
<!-- /main-cont -->


<!-- // scripts // -->
  <script>
  	$(document).ready(function(){
		'use strict';
		(function($) {
			$(function() {
				$('.checkbox input').styler({
					selectSearch: true
				});
			});
		})(jQuery);
  	});
  </script>
<!-- \\ scripts \\ -->

</body>
</html>
