<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<!-- main-cont -->
<div class="main-cont">
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">Hotels</div>
      <div class="breadcrumbs">

      </div>
      <div class="clear"></div>
    </div>
    <div class="two-colls">
      <div class="two-colls-left">

        <div class="srch-results-lbl fly-in">
          <span>
          Search Result :
          <% if !@results.nil? %>
            <%= @results.count %>
          <% end %>
          </span>
        </div>

      <form method="get">
        <div class="side-block fly-in">
          <div class="side-block-search">
            <div class="page-search-p">
						<!-- // -->
						<div class="srch-tab-line">
							<label>Location</label>
              <%= text_field_tag :location, '', class:'input-a', placeholder: !params[:location].nil? ? params[:location] : 'Location' %>
						</div>
						<!-- // -->
						<!-- // -->
						<div class="srch-tab-line">
							<div class="srch-tab-left">
								<label>Check in</label>
								<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
							</div>
							<div class="srch-tab-right">
								<label>Check out</label>
								<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
							</div>
							<div class="clear"></div>
						</div>
						<!-- \\ -->
              <button type="submit" class="srch-btn">Search</button>
    				</div>
          </div>
        </div>
      </form>

        <!-- // side // -->
        <div class="side-block fly-in">
          <div class="side-price">
            <div class="side-padding">
              <div class="side-lbl">Price</div>
              <div class="price-ranger">
                <div id="slider-range"></div>
              </div>
              <div class="price-ammounts">
                <input type="text" id="ammount-from" readonly>
                <input type="text" id="ammount-to" readonly>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- \\ side \\ -->
        <!-- // side // -->
        <div class="side-block fly-in">
          <div class="side-stars">
            <div class="side-padding">
              <div class="side-lbl">Star rating</div>
              <div class="star-rating-l">Choose Rating</div>
              
              <div class="star-rating-r">                
                <a onclick=""><img alt="" src="assets/rating-b.png"></a>
                <a onclick=""><img alt="" src="assets/rating-b.png"></a>
                <a onclick=""><img alt="" src="assets/rating-b.png"></a>
                <a onclick=""><img alt="" src="assets/rating-b.png"></a>
                <a onclick=""><img alt="" src="assets/rating-a.png"></a>
              </div>

              <div class="clear"></div>
            </div>
          </div>
        </div>
        <!-- \\ side \\ -->

      </div>
      <div class="two-colls-right">
        <div class="two-colls-right-b">
          <div class="padding">

            <div class="catalog-head large fly-in">
              <label>Sorting results by:</label>
              <div class="search-select">
                <%= select_tag :name_order, options_for_select(["Ascending", "Descending"]), :id => "sort_function"%>
    					</div>
              <div class="search-select">
                <%= select_tag :price_order, options_for_select(["Lowest Price", "Highest Price"]), :id => "sort_by_price"%>
    					</div>
              <div class="search-select">
                <%= select_tag :rating_order, options_for_select(["Lowest Rating", "Highest Rating"]), :id => "sort_by_rating"%>
    					</div>
              <div class="clear"></div>
            </div>

            <div class="catalog-row list-rows">
            <!--  Thao Started HERE:  -->
            <% if !@results.nil? %>

            <%= content_tag "div", id: "myDiv", data: {results: @results} do %>
            <% @results.each do |result| %>
                <%= content_tag "div", id: result.hotel_name, class: "cat-list-item fly-in" do %>
                <div class="cat-list-item fly-in" max-height: "400">
                <div class="cat-list-item-l">
                <%= image_tag(result.photo_reference, :style => "height: 150px; width: 200px") %>
                  </div>
                  <div class="cat-list-item-r">
                    <div class="cat-list-item-rb">
                      <div class="cat-list-item-p">
                        <div class="cat-list-content">
                          <div class="cat-list-content-a">
                            <div class="cat-list-content-l">
                              <div class="cat-list-content-lb">
                                <div class="cat-list-content-lpadding">
                                  <div class="offer-slider-link"><%= link_to result.hotel_name, hotel_path(:hotel => result) %></div>
                                  <div class="offer-slider-location"><%= result.formatted_address %></div>
                                  <p>

                                  </p>
                                  <div class="cat-icons">
                                    <span class="cat-icon-01 active"></span>
                                    <span class="cat-icon-02"></span>
                                    <span class="cat-icon-03"></span>
                                    <span class="cat-icon-04"></span>
                                    <span class="cat-icon-05"></span>
                                    <span class="cat-icon-06"></span>
                                    <div class="clear"></div>
                                  </div>
                                </div>
                              </div>
                              <br class="clear" />
                            </div>
                          </div>
                          <div class="cat-list-content-r">
                            <div class="cat-list-content-p">
                              <nav class="stars">
            										<ul>                                
            										<% rating_number = result.google_rating %>
                                <% if rating_number >= 1 %>
                                <li><img alt="" src="assets/star-b.png" /></li>
                                <% end %>
                                <% if rating_number >= 2 %>
                                <li><img alt="" src="assets/star-b.png" /></li>
                                <% end %>
                                <% if rating_number >= 3 %>
                                <li><img alt="" src="assets/star-b.png" /></li>
                                <% end %>
                                <% if rating_number >= 4 %>
                                <li><img alt="" src="assets/star-b.png" /></li>
                                <% end %>
                                <% if rating_number >= 5 %>
                                <li><img alt="" src="assets/star-b.png" /></li>
                                <% end %>
                                </ul>
            										<div class="clear"></div>
            									</nav>
                              <div class="cat-list-review"> Rating: <%=result.google_rating %> </div>
                              <div class="offer-slider-r">
              									<b> $<%= result.hotel_price %></b>
              									<span>avg/night</span>
              								</div>
                              <div class="cat-list-btn"><%= link_to 'book now', hotel_path(:hotel => result), :class=>'select_btn', :id => 'select_btn' %></div>   
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                    <br class="clear" />
                  </div>
                  <div class="clear"></div>
                </div>
                <% end %>
            <% end %>
            <% end %>
            </div>
            <div class="clear"></div>
            <% end %>


          </div>
        </div>
        <br class="clear" />
      </div>
    </div>
    <div class="clear"></div>

    </div>
  </div>
</div>
<!-- /main-cont -->
</body>
<script>
   /*THAO'S CUSTOM SORTING FUNCTIONS DO NOT TOUCH.*/
  var myData = $('#myDiv').data("results")
  var currentOrder = '';

  $(document).ready( function(){
    'use strict';

		var slider_range = $("#slider-range");
		var ammount_from = $("#ammount-from");
		var ammount_to = $("#ammount-to");

    /**Function to filter out all hotels that price is not within the desired range.*/
		$(function() {
			slider_range.slider({
			  range: true,
			  min: 0,
			  max: 500,
			  values: [ 0, 500 ],
			  slide: function( event, ui ) {
				ammount_from.val(ui.values[0]+'$');
				ammount_to.val(ui.values[1]+'$');
        var minV = parseFloat(slider_range.slider("values",0),10);
        var maxV = parseFloat(slider_range.slider("values",1),10);
        var p = document.getElementById('myDiv');
        Array.prototype.slice
            .call(p.children)
            .forEach(function(x) {
              for( var i = 0; i < myData.length; i++){
                var curData = myData[i];
                if( curData.hotel_name === x.id ){
                    var xpricing = parseFloat(curData.hotel_price);
                    if( xpricing < minV || xpricing > maxV )
                      x.hidden = true;
                    else
                      x.hidden = false;
                }
              }
        });
        }
			});
			ammount_from.val(slider_range.slider("values",0)+'$');
			ammount_to.val(slider_range.slider("values",1)+'$');
		});

    $('#sort_function').change(function() {
        if( myData !== 'undefined' ){
        currentOrder = $(this).val();
        var p = document.getElementById('myDiv');
        Array.prototype.slice.call(p.children)
          .map(function (x) { return p.removeChild(x); })
          .sort(function (x, y) {
            if (currentOrder === 'Ascending')
              return x.id > y.id;
            else if (currentOrder === 'Descending')
              return x.id < y.id;
          })
          .forEach(function (x) { p.appendChild(x); });
        }
    });

    $('#sort_by_price').change(function() {
      if( myData !== 'undefined' ){
        currentOrder = $(this).val();
        var p = document.getElementById('myDiv');
        Array.prototype.slice.call(p.children)
          .map(function (x) { return p.removeChild(x); })
          .sort(function (x, y) {
            var xrating = 0;
            var yrating = 0;
            for( var i = 0; i < myData.length; i++){
              var curData = myData[i];
              if( curData.hotel_name === x.id )
                xrating = parseFloat(curData.hotel_price);
              else if( curData.hotel_name === y.id )
                yrating = parseFloat(curData.hotel_price);
            }
            if (currentOrder === 'Lowest Price')
              return xrating > yrating;
            else if (currentOrder === 'Highest Price')
              return xrating < yrating;
          })
          .forEach(function (x) { p.appendChild(x); });
        }
    });

    $('#sort_by_rating').change(function() {
      if( myData !== 'undefined' ){
        currentOrder = $(this).val();
        var p = document.getElementById('myDiv');
        Array.prototype.slice.call(p.children)
          .map(function (x) { return p.removeChild(x); })
          .sort(function (x, y) {
            var xrating = 0;
            var yrating = 0;
            for( var i = 0; i < myData.length; i++){
              var curData = myData[i];
              if( curData.hotel_name === x.id )
                xrating = parseFloat(curData.google_rating);
              else if( curData.hotel_name === y.id )
                yrating = parseFloat(curData.google_rating);
              if( xrating > 0 && yrating > 0)
                break;
            }
            if (currentOrder === 'Lowest Rating')
              return xrating > yrating;
            else if (currentOrder === 'Highest Rating')
              return xrating < yrating;
          })
          .forEach(function (x) { p.appendChild(x); });
        }

    });




    $('#select_room').change(function() {
        //todo modify listings based on room selection.
    });

    $('#select_adult').change(function() {
        //todo modify listings based on adult selection.
    });

    $('#select_child').change(function() {
        //todo modify listings based on  selection.
    });


    });
</script>
</html>
