<!DOCTYPE html>
<html lang="en">

<head>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		google.maps.event.addDomListener(window, 'load', init);

		function init() {
			var mylat = document.getElementById("latitude_tag").value; //'52.569334';
			var mylong = document.getElementById("longitude_tag").value; //'13.380216';
			var mapOptions = {
				zoom: 13,
				disableDefaultUI: true,
				zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.LARGE,
					position: google.maps.ControlPosition.LEFT_CENTER
				},
				center: new google.maps.LatLng(mylat, mylong), // New York
			};
			var mapElement = document.getElementById('map');
			var map = new google.maps.Map(mapElement, mapOptions);
			google.maps.event.addDomListener(window, 'resize', init);
			google.maps.event.addListenerOnce(map, 'idle', function () {
				setTimeout(function () {
					var place = new google.maps.LatLng(mylat, mylong);
					var image = new google.maps.MarkerImage('assets/map.png',
						new google.maps.Size(19, 29),
						new google.maps.Point(0, 0),
						new google.maps.Point(0, 32));
					var marker = new google.maps.Marker({
						map: map,
						icon: image,
						draggable: false,
						animation: google.maps.Animation.DROP,
						position: place
					});
					$('.map-contacts').each(function (index) {
						$(this).delay(141 * index).fadeIn();
					});
				}, 500);
			});
		}
	</script>
</head>

<body>

	<!-- main-cont -->
	<div class="main-cont">
		<div class="body-wrapper">
			<div class="wrapper-padding">
				<div class="page-head">
					<div class="page-title">Hotels -
						<span>Detail</span>
					</div>
					<div class="breadcrumbs">
						<a href="/">Home</a> /
						<a href="#">Hotel</a> /
						<span>Detail</span>
					</div>
					<div class="clear"></div>
				</div>

				<div class="sp-page">

					<div class="sp-page-a">
						<div class="sp-page-l">
							<div class="sp-page-lb">
								<div class="sp-page-p">
									<div class="h-tabs">
										<div class="h-tabs-left">
											<div class="h-tab-i active">
												<a href="#" class="h-tab-item-01">
													<i></i>
													<span>photos</span>
													<span class="clear"></span>
												</a>
											</div>
											<div class="h-tab-i">
												<a href="#" class="h-tab-item-02 initMap">
													<i></i>
													<span>map</span>
													<span class="clear"></span>
												</a>
											</div>
										</div>

										<div class="clear"></div>
									</div>

									<div class="mm-tabs-wrapper">
										<!-- // tab item // -->
										<div class="tab-item">
											<div class="tab-gallery-big">
												<%= image_tag @selected_hotel.photo_reference, size:"724x448"%>
											</div>
										</div>
										<!-- \\ tab item \\ -->
										<!-- // tab item // -->
										<div class="tab-item">
											<div id="preloader">
												<div id="spinner"></div>
											</div>
											<div class="tab-map">
												<div class="contact-map">
													<div id="map"></div>
												</div>
											</div>
										</div>
										<!-- \\ tab item \\ -->
										<!-- // tab item // -->
										<div class="tab-item">
											<div class="calendar-tab">
												<div class="calendar-tab-select">
													<label>Select month</label>
													<select class="custom-select">
														<option>January 2018</option>
														<option>Feburary 2018</option>
														<option>March 2018</option>
														<option>April 2018</option>
														<option>May 2018</option>
														<option>June 2018</option>
														<option>July 2018</option>
														<option>August 2018</option>
														<option>September 2018</option>
														<option>October 2018</option>
														<option>November 2018</option>
														<option>December 2018</option>
													</select>
												</div>

												<div class="tab-calendar-colls">
													<div class="tab-calendar-collsl">
														<div class="tab-calendar-collslb">
															<table>
																<thead>
																	<tr>
																		<td>Sun</td>
																		<td>Mon</td>
																		<td>Tue</td>
																		<td>Wed</td>
																		<td>Thu</td>
																		<td>Fri</td>
																		<td>Sat</td>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="date-passed">
																			<span>
																				<label></label>
																			</span>
																		</td>
																		<td class="date-passed">
																			<span>
																				<label></label>
																			</span>
																		</td>
																		<td class="date-passed">
																			<span>
																				<label></label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>1</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>2</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>3</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>4</label>
																			</span>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<span>
																				<label>5</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>6</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>7</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>8</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>9</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>10</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>11</label>
																			</span>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<span>
																				<label>12</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>13</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>14</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>15</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>16</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>17</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>18</label>
																			</span>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<span>
																				<label>19</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>20</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>21</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>22</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>23</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>24</label>
																			</span>
																		</td>
																		<td>
																			<span>
																				<label>25</label>
																			</span>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<span>
																				<label>26</label>
																			</span>
																		</td>
																		<td class="date-available">
																			<span>
																				<label>27</label>
																			</span>
																		</td>
																		<td class="date-available">
																			<span>
																				<label>28</label>
																			</span>
																		</td>
																		<td class="date-available">
																			<span>
																				<label>29</label>
																			</span>
																		</td>
																		<td class="date-unavailable">
																			<span>
																				<label>30</label>
																			</span>
																		</td>
																		<td class="date-unavailable">
																			<span>
																				<label>31</label>
																			</span>
																		</td>
																		<td class="date-passed">
																			<span>
																				<label></label>
																			</span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="clear"></div>
													</div>
												</div>
												<div class="tab-calendar-collsr">
													<div class="tab-calendar-s">

														<div class="map-symbol passed">
															<div class="map-symbol-l"></div>
															<div class="map-symbol-r">Date past</div>
															<div class="clear"></div>
														</div>
														<div class="map-symbol available">
															<div class="map-symbol-l"></div>
															<div class="map-symbol-r">available</div>
															<div class="clear"></div>
														</div>
														<div class="map-symbol unavailable">
															<div class="map-symbol-l"></div>
															<div class="map-symbol-r">unavailable</div>
															<div class="clear"></div>
														</div>

													</div>
												</div>
												<div class="clear"></div>

											</div>
										</div>
										<!-- \\ tab item \\ -->

									</div>

									<div class="content-tabs">
										<div class="content-tabs-head last-item">
											<nav>
												<ul>
													<li>
														<a class="active" remote: true href="#">DESCRIPTION</a>
													</li>
													<% if user_signed_in? %>
														<li>
															<a href="#" id="availability_btn" >AVAILABILITY</a>
														</li>
														<% end %>
															<li>
																<a href="#">Preferences</a>
															</li>
													<li></li>
												</ul>
											</nav>

											<div class="clear"></div>
										</div>
										<div class="content-tabs-body">
											<!-- // content-tabs-i // -->
											<div class="content-tabs-i">
												<p> </p>
												<div class="tab-reasons">
													<div class="facilities">
														<h2>Facilities of Hotel</h2>
														<table>
															<tr>
																<td class="facilities-a">Food & Drink</td>
																<td class="facilities-b">Breakfast in the Room</td>
															</tr>
															<tr>
																<td class="facilities-a">Internet</td>
																<td class="facilities-b">
																	<span class="facility-label">Free! WiFi is available in all areas and is free of charge.</span>
																</td>
															</tr>
															<tr>
																<td class="facilities-a">Parking</td>
																<td class="facilities-b">Vending Machine (drinks), 24-Hour Front Desk, Express Check-in/Check-out</td>
															</tr>
															<tr>
																<td class="facilities-a">Languages</td>
																<td class="facilities-b">Italian, French, Spanish, English, Arabic</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
											<!-- \\ content-tabs-i \\ -->
											<!-- // content-tabs-i // -->

											<div class="content-tabs-i">
											<div class="search-tab-content hotels-tab">
				<form action="hotel_listing" method="get">
				<div class="side-block fly-in">
				<div class="side-block-search">
					<div class="page-search-p">
								<!-- // -->
								<div class="srch-tab-line">
									<label>Hotel</label>
									<%= text_field_tag :hotel_name, '', class:'input-a', placeholder: 'Hotel Name' %>
								</div>
								<div class="srch-tab-line">
									<label>Location</label>
									<%= text_field_tag :location, '', class:'input-a', placeholder: 'Location' %>
								</div>
								<!-- // -->
								<!-- // -->
								<div class="srch-tab-line">
									<div class="srch-tab-left">
										<label>Check in</label>
										<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
									</div>
									<div class="srch-tab-right">
										<label>Check out</label>
										<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
									</div>
									<div class="clear"></div>
								</div>
								<!-- \\ -->
								<!-- // -->
								<div class="srch-tab-line no-margin-bottom" style="display: none;">
									<div class="srch-tab-3c">
										<label>Rooms</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="srch-tab-3c">
										<label>adult</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="srch-tab-3c">
										<label>Child</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<!-- \\ -->
					<button type="submit" class="srch-btn">Search</button>
					</div>
				</div>
				</div>
			</form>
				</div>
												<%= form_tag( hotel_booking_path, method: :get ) do |f| %>
													<h2>Your Travel Rates</h2>
													<div class="rates-search">
														<div class="rates-line">
															<!-- // -->
															<div class="srch-tab-line">
																<div class="srch-tab-left">
																	<label>Check in</label>
																	<%= date_field_tag :checkin_date, Date.today %>
																</div>

																<div class="srch-tab-right">
																	<label>Check out</label>
																	<%= date_field_tag :checkout_date, Date.parse(1.day.from_now.to_s)  %>
																</div>
																<div class="clear"></div>
															</div>
															<!-- \\ -->
														</div>
														<div class="rates-line-right">
															<!-- // -->
															<div class="srch-tab-line no-margin-bottom">
																<div class="srch-tab-3c">
																	<label>Rooms</label>
																	<%= select_tag :room_count, options_for_select(["1","2","3","4"]) %>
																</div>

																<div class="srch-tab-3c">
																	<label>Adult</label>
																	<%= select_tag :adult_count, options_for_select(["1","2","3","4"]) %>
																</div>
																<div class="srch-tab-3c">
																	<label>Child</label>
																	<%= select_tag :child_count, options_for_select(["0", "1","2","3","4"]) %>
																</div>
																<div class="clear"></div>
															</div>
															<!-- \\ -->
														</div>
														<button class="rates-srch"></button>
														<div class="clear"></div>
														<div class="rates-devider"></div>
														<h2>Room Type</h2>

														<div class="available-row">

															<!-- START OF ROOM LISTING 1 -->
															<div class="cat-list-item">
																<div class="cat-list-item-l">
																	<a href="#">
																		<img alt="" src="assets/single.jpg">
																	</a>
																</div>
																<div class="cat-list-item-r">
																	<div class="cat-list-item-rb">
																		<div class="cat-list-item-p">
																			<div class="cat-list-content">
																				<div class="cat-list-content-a">
																					<div class="cat-list-content-l">
																						<div class="cat-list-content-lb">
																							<div class="cat-list-content-lpadding">
																								<div class="offer-slider-link">
																									<a href="#">Single Room</a>
																								</div>
																								<div class="offer-slider-location">Max Occupancy: 2 persons</div>
																								<p> </p>
																								<div class="cat-icons">
																									<span class="cat-icon-01 active"></span>
																									<span class="cat-icon-02"></span>
																									<span class="cat-icon-03"></span>
																									<span class="cat-icon-04"></span>
																									<span class="cat-icon-05"></span>
																									<span class="cat-icon-06"></span>
																									<div class="clear"></div>
																								</div>
																							</div>
																						</div>
																						<br class="clear">
																					</div>
																				</div>
																				<div class="cat-list-content-r">
																					<div class="cat-list-content-p">
																						<div class="available-price"><%= @single_room_price %>$</div>
																						<div class="available-price-a">avg/night</div>
																						<div class="available-price-c">9 available</div>
																						<!-- THIS IS WHERE IT LINKS TO THE BOOKINGS PAGE -->
																							<%= hidden_field_tag 'hotel_id', @selected_hotel.id %>
                                                                                            <%= hidden_field_tag 'single_room_price', @single_room_price %>
																						<%= submit_tag 'select', :id => 'single', class: 'available-btn' %>
																					</div>
																				</div>
																				<div class="clear"></div>
																			</div>
																		</div>
																	</div>
																	<br class="clear">
																</div>
																<div class="clear"></div>
															</div>
															<!-- END OF ROOM LISTING 2 -->


															<!-- // -->
															<div class="cat-list-item">
																<div class="cat-list-item-l">
																	<a href="#">
																		<img alt="" src="assets/double.jpg">
																	</a>
																</div>
																<div class="cat-list-item-r">
																	<div class="cat-list-item-rb">
																		<div class="cat-list-item-p">
																			<div class="cat-list-content">
																				<div class="cat-list-content-a">
																					<div class="cat-list-content-l">
																						<div class="cat-list-content-lb">
																							<div class="cat-list-content-lpadding">
																								<div class="offer-slider-link">
																									<a href="#">Double Room</a>
																								</div>
																								<div class="offer-slider-location">Max Occupancy: 2 persons</div>
																								<p> </p>
																								<div class="cat-icons">
																									<span class="cat-icon-01 active"></span>
																									<span class="cat-icon-02"></span>
																									<span class="cat-icon-03"></span>
																									<span class="cat-icon-04"></span>
																									<span class="cat-icon-05"></span>
																									<span class="cat-icon-06"></span>
																									<div class="clear"></div>
																								</div>
																							</div>
																						</div>
																						<br class="clear">
																					</div>
																				</div>
																				<div class="cat-list-content-r">
																					<div class="cat-list-content-p">
																						<div class="available-price"><%= @double_room_price %>$</div>
																						<div class="available-price-a">avg/night</div>
																						<div class="available-price-c">9 available</div>
																						<%= hidden_field_tag 'double_room_price', @double_room_price  %>
                                                                                        <%= submit_tag 'select', class: 'available-btn' %>
																					</div>
																				</div>
																				<div class="clear"></div>
																			</div>
																		</div>
																	</div>
																	<br class="clear">
																</div>
																<div class="clear"></div>
															</div>
															<!-- \\ -->
															<!-- // -->
															<div class="cat-list-item">
																<div class="cat-list-item-l">
																	<a href="#">
																		<img alt="" src="assets/twin.jpg">
																	</a>
																</div>
																<div class="cat-list-item-r">
																	<div class="cat-list-item-rb">
																		<div class="cat-list-item-p">
																			<div class="cat-list-content">
																				<div class="cat-list-content-a">
																					<div class="cat-list-content-l">
																						<div class="cat-list-content-lb">
																							<div class="cat-list-content-lpadding">
																								<div class="offer-slider-link">
																									<a href="#">Twin Room</a>
																								</div>
																								<div class="offer-slider-location">Max Occupancy: 2 persons</div>
																								<p> <p>
																								<div class="cat-icons">
																									<span class="cat-icon-01 active"></span>
																									<span class="cat-icon-02"></span>
																									<span class="cat-icon-03"></span>
																									<span class="cat-icon-04"></span>
																									<span class="cat-icon-05"></span>
																									<span class="cat-icon-06"></span>
																									<div class="clear"></div>
																								</div>
																							</div>
																						</div>
																						<br class="clear">
																					</div>
																				</div>
																				<div class="cat-list-content-r">
																					<div class="cat-list-content-p">
																						<div class="available-price"> <%= @twin_room_price  %>$</div>
																						<div class="available-price-a">avg/night</div>
																						<div class="available-price-c">9 available</div>
																						<%= hidden_field_tag 'twin_room_price', @twin_room_price %>
                                                                                        <%= submit_tag 'select', class: 'available-btn' %>
																					</div>
																				</div>
																				<div class="clear"></div>
																			</div>
																		</div>
																	</div>
																	<br class="clear">
																</div>
																<div class="clear"></div>
															</div>
															<!-- \\ -->
															<!-- // -->
															<div class="cat-list-item">
																<div class="cat-list-item-l">
																	<a href="#">
																		<img alt="" src="assets/family.jpg">
																	</a>
																</div>
																<div class="cat-list-item-r">
																	<div class="cat-list-item-rb">
																		<div class="cat-list-item-p">
																			<div class="cat-list-content">
																				<div class="cat-list-content-a">
																					<div class="cat-list-content-l">
																						<div class="cat-list-content-lb">
																							<div class="cat-list-content-lpadding">
																								<div class="offer-slider-link">
																									<a href="#">Family Suite</a>
																								</div>
																								<div class="offer-slider-location">Max Occupancy: 2 persons</div>
																								<p> consequuntur magni dolores eos.</p>
																								<div class="cat-icons">
																									<span class="cat-icon-01 active"></span>
																									<span class="cat-icon-02"></span>
																									<span class="cat-icon-03"></span>
																									<span class="cat-icon-04"></span>
																									<span class="cat-icon-05"></span>
																									<span class="cat-icon-06"></span>
																									<div class="clear"></div>
																								</div>
																							</div>
																						</div>
																						<br class="clear">
																					</div>
																				</div>
																				<div class="cat-list-content-r">
																					<div class="cat-list-content-p">
																						<div class="available-price"><%= @family_room_price %>$</div>
																						<div class="available-price-a">avg/night</div>
																						<div class="available-price-c">9 available</div>
																						<%= hidden_field_tag 'hotel_id', @selected_hotel.id %>
																						<%= hidden_field_tag 'family_room_price', @family_room_price %>
																						<%= submit_tag 'select', class: 'available-btn' %>
																					</div>
																				</div>
																				<div class="clear"></div>
																			</div>
																		</div>
																	</div>
																	<br class="clear">
																</div>
																<div class="clear"></div>
															</div>
															<!-- \\ -->
														</div>

													</div>

													<% end %>

											</div>



											<!-- \\ content-tabs-i \\ -->
											<!-- // content-tabs-i // -->
											<div class="content-tabs-i">
												<h2>Hotel Facilities</h2>
												<p> </p>
												<ul class="preferences-list">
													<li class="internet">High-speed Internet</li>
													<li class="conf-room">Conference room</li>
													<li class="play-place">Play Place</li>
													<li class="restourant">Restourant</li>
													<li class="bar">Bar</li>
													<li class="doorman">Doorman</li>
													<li class="kitchen">Kitchen</li>
													<li class="spa">Spa services</li>
													<li class="bike">Bike Rental</li>
													<li class="entertaiment">Entertaiment</li>
													<li class="hot-tub">Hot Tub</li>
													<li class="pool">Swimming Pool</li>
													<li class="parking">Free parking</li>
													<li class="gym">Gym</li>
													<li class="tv">TV</li>
													<li class="pets">Pets allowed</li>
													<li class="handicap">Handicap</li>
													<li class="secure">Secure </li>
												</ul>
												<div class="clear"></div>
												<div class="preferences-devider"></div>
												<h2>Alternative Style</h2>
												<p> </p>
												<ul class="preferences-list-alt">
													<li class="internet">High-speed Internet</li>
													<li class="parking">Free parking</li>
													<li class="gym">Gym</li>
													<li class="restourant">Restourant</li>
													<li class="pets">Pets allowed</li>
													<li class="pool">Swimming Pool</li>
													<li class="kitchen">Kitchen</li>
													<li class="conf-room">Conference room</li>
													<li class="bike">Bike Rental</li>
													<li class="entertaiment">Entertaiment</li>
													<li class="bar">Bar</li>
													<li class="secure">Secure</li>
												</ul>
												<div class="clear"></div>
											</div>
											<!-- \\ content-tabs-i \\ -->
											<!-- // content-tabs-i // -->
											<div class="content-tabs-i">
												<div class="reviews-a">

													<div class="reviews-c">
														<div class="reviews-l">

															</nav>
														</div>

													</div>
													<div class="clear"></div>

													<div class="reviews-devider"></div>

													<div class="hotel-reviews">



														<div class="clear"></div>
													</div>

													<div class="hotel-reviews-devider"></div>

													<div class="guest-reviews">

														<div class="guest-reviews-row">
															<!-- // -->
															<div class="guest-reviews-i">
																<div class="guest-reviews-a">
																	<div class="guest-reviews-l">

																	</div>
																	<div class="guest-reviews-r">
																		<div class="guest-reviews-rb">
																			<div class="guest-reviews-b">
																				<div class="guest-reviews-bl">
																					<div class="guest-reviews-blb">

																						<br class="clear" />
																					</div>
																				</div>
																				<div class="guest-reviews-br">
																					<div class="guest-reviews-padding">


																					</div>
																				</div>
																			</div>
																			<br class="clear" />
																		</div>
																	</div>
																	<div class="clear"></div>
																</div>
																<!-- \\ -->
																<!-- // -->
																<div class="guest-reviews-i">
																	<div class="guest-reviews-a">
																		<div class="guest-reviews-l">

																		</div>
																		<div class="guest-reviews-r">
																			<div class="guest-reviews-rb">
																				<div class="guest-reviews-b">
																					<div class="guest-reviews-bl">
																						<div class="guest-reviews-blb">

																						</div>
																						<br class="clear" />
																					</div>
																				</div>
																				<div class="guest-reviews-br">
																					<div class="guest-reviews-padding">


																					</div>
																				</div>
																			</div>
																			<br class="clear" />
																		</div>
																	</div>
																	<div class="clear"></div>
																</div>
																<!-- \\ -->
																<!-- // -->
																<div class="guest-reviews-i">
																	<div class="guest-reviews-a">
																		<div class="guest-reviews-l">
																			<div class="guest-reviews-img">

																			</div>
																		</div>
																		<div class="guest-reviews-r">
																			<div class="guest-reviews-rb">
																				<div class="guest-reviews-b">
																					<div class="guest-reviews-bl">
																						<div class="guest-reviews-blb">

																						</div>
																						<br class="clear" />
																					</div>
																				</div>
																				<div class="guest-reviews-br">
																					<div class="guest-reviews-padding">
																						<nav>
																							<ul>

																							</ul>
																						</nav>

																					</div>
																				</div>
																			</div>
																			<br class="clear" />
																		</div>
																	</div>
																	<div class="clear"></div>
																</div>
																<!-- \\ -->
																<!-- // -->
																<div class="guest-reviews-i">
																	<div class="guest-reviews-a">
																		<div class="guest-reviews-l">

																		</div>
																		<div class="guest-reviews-r">
																			<div class="guest-reviews-rb">
																				<div class="guest-reviews-br">
																					<div class="guest-reviews-padding">


																					</div>
																				</div>
																			</div>
																			<br class="clear" />
																		</div>
																	</div>
																	<div class="clear"></div>
																</div>
																<!-- \\ -->
															</div>
															<select class="custom-select">
																<option>&nbsp;</option>
																<option>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<!-- \\ content-tabs-i \\ -->
											<!-- // content-tabs-i // -->
											<div class="content-tabs-i">
												<h2>FAQ</h2>
												<p class="small"> consequuntur magni dolores eos qui voluptatem sequi nesciunt. </p>
												<div class="todo-devider"></div>
												<div class="faq-row">
													<!-- // -->
													<div class="faq-item">
														<div class="faq-item-a">
															<span class="faq-item-left">Totam rem aperiam, eaquie ipsa quae?</span>
															<span class="faq-item-i"></span>
															<div class="clear"></div>
														</div>
														<div class="faq-item-b">
															<div class="faq-item-p">
																Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores
																eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
															</div>
														</div>
													</div>
													<!-- \\ -->
													<!-- // -->
													<div class="faq-item">
														<div class="faq-item-a">
															<span class="faq-item-left">Dolores eos qui ratione voluptatem sequi nescuin?</span>
															<span class="faq-item-i"></span>
															<div class="clear"></div>
														</div>
														<div class="faq-item-b">
															<div class="faq-item-p">
																Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores
																eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit

															</div>
														</div>
													</div>
													<!-- \\ -->
													<!-- // -->
													<div class="faq-item">
														<div class="faq-item-a">
															<span class="faq-item-left">Neque porro quisquam est, qui dolorem ipsum?</span>
															<span class="faq-item-i"></span>
															<div class="clear"></div>
														</div>
														<div class="faq-item-b">
															<div class="faq-item-p">
																Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores
																eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
															</div>
														</div>
													</div>
													<!-- \\ -->
													<!-- // -->
													<div class="faq-item">
														<div class="faq-item-a">
															<span class="faq-item-left">Dolor sit amet consectutur adipisci velit, sed?</span>
															<span class="faq-item-i"></span>
															<div class="clear"></div>
														</div>
														<div class="faq-item-b">
															<div class="faq-item-p">
																Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores
																eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
															</div>
														</div>
													</div>
													<!-- \\ -->
													<!-- // -->
													<div class="faq-item">
														<div class="faq-item-a">
															<span class="faq-item-left">Consectetur, adipisci velit, sed quia non numquam?</span>
															<span class="faq-item-i"></span>
															<div class="clear"></div>
														</div>
														<div class="faq-item-b">
															<div class="faq-item-p">
																Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores
																eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
															</div>
														</div>
													</div>
													<!-- \\ -->
												</div>
											</div>
											<!-- \\ content-tabs-i \\ -->

										</div>
									</div>


								</div>

							</div>
							<div class="clear"></div>
						</div>
					</div>

					<div class="sp-page-r">
						<div class="h-detail-r">
							<div class="h-detail-lbl">
								<div class="h-detail-lbl-a">
									<%= @selected_hotel.hotel_name %>
								</div>
								<div class="h-detail-lbl-b">
									<%= @selected_hotel.formatted_address %>
								</div>
								<%= hidden_field_tag :longitude_tag, @selected_hotel.longitude %>
									<%= hidden_field_tag :latitude_tag,  @selected_hotel.latitude %>
							</div>
							<div class="h-detail-stars">
								<ul class="h-stars-list">
									<% if @selected_hotel.google_rating > 0 %>
										<li>
											<img alt="" src="assets/hd-star-b.png">
										</li>
										<% end %>
											<% if @selected_hotel.google_rating > 1 %>
												<li>
													<img alt="" src="assets/hd-star-b.png">
												</li>
												<% end %>
													<% if @selected_hotel.google_rating > 2 %>
														<li>
															<img alt="" src="assets/hd-star-b.png">
														</li>
														<% end %>
															<% if @selected_hotel.google_rating > 3 %>
																<li>
																	<img alt="" src="assets/hd-star-b.png">
																</li>
																<% end %>
																	<% if @selected_hotel.google_rating > 4 %>
																		<li>
																			<img alt="" src="assets/hd-star-b.png">
																		</li>
																		<% end %>
								</ul>
								<div class="h-stars-lbl"> Rating:
									<%=@selected_hotel.google_rating%>
								</div>

								<div class="clear"></div>
							</div>

							<% if user_signed_in? %>
								<%= link_to "#", id: 'book_now_btn' do %>
									<div class="book-btn">
										<span class="book-btn-l">
											<i></i>
										</span>
										<span class="book-btn-r">Book Now</span>
										<div class="clear"></div>
									</div>
									<% end %>
										<% else %>
								<%= link_to user_session_path(:hotel => @selected_hotel) do %>
										<div class="book-btn">
													<span class="book-btn-l">
														<i></i>
													</span>
													<span class="book-btn-r">Sign in to Book Now!</span>
													<div class="clear"></div>
										</div>
								<% end %>
						<% end %>
						</div>



					</div>
					<div class="clear"></div>
				</div>

			</div>
		</div>
	</div>
	<!-- /main-cont -->


	<!-- // scripts // -->
	<script>
		$(document).ready(function () {
			'use strict';
			$('.review-ranger').each(function () {
				var $this = $(this);
				var $index = $(this).index();
				if ($index == '0') {
					var $val = '3.0'
				} else if ($index == '1') {
					var $val = '3.8'
				} else if ($index == '2') {
					var $val = '2.8'
				} else if ($index == '3') {
					var $val = '4.8'
				} else if ($index == '4') {
					var $val = '4.3'
				} else if ($index == '5') {
					var $val = '5.0'
				}
				$this.find('.slider-range-min').slider({
					range: "min",
					step: 0.1,
					value: $val,
					min: 0.1,
					max: 5.1,
					create: function (event, ui) {
						$this.find('.ui-slider-handle').append('<span class="range-holder"><i></i></span>');
					},
					slide: function (event, ui) {
						$this.find(".range-holder i").text(ui.value);
					}
				});
				$this.find(".range-holder i").text($val);
			});

			$('#reasons-slider').bxSlider({
				infiniteLoop: true,
				speed: 500,
				mode: 'fade',
				minSlides: 1,
				maxSlides: 1,
				moveSlides: 1,
				auto: true,
				slideMargin: 0
			});

			$('#gallery').bxSlider({
				infiniteLoop: true,
				speed: 500,
				slideWidth: 108,
				minSlides: 1,
				maxSlides: 6,
				moveSlides: 1,
				auto: false,
				slideMargin: 7
			});
			var myContainer = $('.content-tabs')
			$('#book_now_btn').click(function (e) {
				$('#availability_btn').click();
				$('.content-tabs')[0].scrollIntoView();				
				e.preventDefault();				
			});
		});
	</script>
	<!-- \\ scripts \\ -->

</body>

</html>
