<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="index-page">

<!-- main-cont -->
<div class="main-cont">
<div class="body-padding" id="top-body-padding">
	<div class="mp-slider" id="mp-slider-swipe">
		<div class="mp-slider-row">
			<div class="swiper-container" id="slide-swiper-container">
			    <div class="swiper-preloader-bg"></div>
			    <div id="preloader">
			    	<div id="spinner"></div>
			    </div>

				<a href="#" class="arrow-left"></a>
				<a href="#" class="arrow-right"></a>
				<div class="swiper-pagination"></div>
  				<div class="swiper-wrapper">
      				<div class="swiper-slide">
						<div class="slide-section" style="background:url(assets/sider-01.jpg) center top no-repeat;">
							<div class="mp-slider-lbl">Great journey begins with a small step</div>
							<div class="mp-slider-lbl-a">Make Your Life Better and Bright!  You must trip with Us!</div>
							<div class="mp-slider-btn"><a href="#" class="btn-a">Learn more</a></div>
						</div>
      				</div>
      				<div class="swiper-slide">
						<div class="slide-section slide-b" style="background:url(assets/sider-02.jpg) center top no-repeat;">
							<div class="mp-slider-lbl">Relax with us. we love our clients</div>
							<div class="mp-slider-lbl-a">Make Your Life Better and Bright!  You must trip with Us!</div>
							<div class="mp-slider-btn"><a href="#" class="btn-a">Learn more</a></div>
						</div>
      				</div>
      				<div class="swiper-slide">
						<div class="slide-section slide-b" style="background:url(assets/sider-03.jpg) center top no-repeat;">
							<div class="mp-slider-lbl">the best relax with us</div>
							<div class="mp-slider-lbl-a">Make Your Life Better and Bright!  You must trip with Us!</div>
							<div class="mp-slider-btn"><a href="#" class="btn-a">Learn more</a></div>
						</div>
      				</div>
  				</div>
			</div>
		</div>
	</div>

	<div class="wrapper-a-holder">
	<div class="wrapper-a">

		<!-- // search // -->
		<div class="page-search search-type-a">
			<nav class="page-search-tabs">
				<div class="search-tab active">Where To?</div>
				<div class="clear"></div>
			</nav>
			<div class="page-search-content">
				<!-- // tab content // -->
				<div class="search-tab-content hotels-tab">
				<form action="hotel_listing" method="get">
				<div class="side-block fly-in">
				<div class="side-block-search">
					<div class="page-search-p">
								<!-- // -->
								<div class="srch-tab-line">
									<label>Hotel</label>
									<%= text_field_tag :hotel_name, '', class:'input-a', placeholder: 'Hotel Name' %>
								</div>
								<div class="srch-tab-line">
									<label>Location</label>
									<%= text_field_tag :location, '', class:'input-a', placeholder: 'Location' %>
								</div>
								<!-- // -->
								<!-- // -->
								<div class="srch-tab-line">
									<div class="srch-tab-left">
										<label>Check in</label>
										<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
									</div>
									<div class="srch-tab-right">
										<label>Check out</label>
										<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
									</div>
									<div class="clear"></div>
								</div>
								<!-- \\ -->
								<!-- // -->
								<div class="srch-tab-line no-margin-bottom" style="display: none;">
									<div class="srch-tab-3c">
										<label>Rooms</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="srch-tab-3c">
										<label>adult</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="srch-tab-3c">
										<label>Child</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<!-- \\ -->
					<button type="submit" class="srch-btn">Search</button>
					</div>
				</div>
				</div>
			</form>
				</div>
				<!-- // tab content hotels // -->
			</div>
		</div>
		<!-- \\ search \\ -->

		<!-- // offer // -->
		<div class="special-offer-a">
			<div class="special-offer-img">
				<a href="#"><img alt="" src="assets/special-offer.jpg" /></a>
			</div>
			<footer class="special-offer-foot">
				<div class="special-offer-foot-l">
					<b>Hotel Du Cap-eden-roc</b>
					<span>Location:France</span>
				</div>
				<div class="special-offer-foot-r">
					<b>$152</b>
					<span>avg/night</span>
				</div>
				<div class="clear"></div>
			</footer>
		</div>
		<!-- \\ offer \\ -->

		<div class="special-offer-b">
			<div class="special-offer-img">
				<a href="#"><img alt="" src="assets/special-offer-2.jpg" /></a>
			</div>
			<footer class="special-offer-foot">
				<div class="special-offer-foot-l">
					<b>Corridor Hotel</b>
					<span>Location:Malaysia</span>
				</div>
				<div class="special-offer-foot-r">
					<b>$215</b>
					<span>avg/night</span>
				</div>
				<div class="clear"></div>
			</footer>
		</div>
		<!-- // offer // -->

		<!-- \\ offer \\ -->





	</div>
	</div>
		<br></br>
	<div class="mp-offesr">
		<div class="wrapper-padding-a">
			<div class="offer-slider">
				<header class="fly-in">
					<div class="offer-slider-lbl">Our Most Popular Destinations</div>
					<p>Adventure is a state of mind - and spirit</p>
					</p>
				</header>
				<div class="fly-in offer-slider-c">
					<div id="offers-a" class="owl-slider">
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider001.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">Paris, france</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JUNE 11 2018 - JUNE 22 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r align-right">
									<b>1200$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider002.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">pattaya, thailand</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JUNE 19 2018 - JUNE 29 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>2200$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider003.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">london, england</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JULY 02 2018 - JULY 08 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>1700$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider008.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">san francisco, usa</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JULY 03 2018 - JULY 10 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>1800$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider005.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">Paris, france</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JULY 11 2018 - JULY 19 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r align-right">
									<b>1550$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider006.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">pattaya, thailand</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JUNE 12 2018 - JUNE 24 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>2250$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider007.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">london, england</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">MAY 28 2018 - JUNE 05 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>1900$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider004.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">san francisco, usa</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">MAY 30 2018 - JUNE 10 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>3500$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->

					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="mp-b">
			<div class="wrapper-padding">
				<div class="fly-in mp-b-left">
					<div class="mp-b-lbl">choose hotel by region</div>
					<!-- // regions // -->
						<div class="regions">
							<div class="regions-holder">
								<map id="imgmap201410281607" name="imgmap201410281607">
								<!--img alt="" usemap="#imgmap201410281607" width="347" height="177" src="assets/world.png" id="imgmap201410281607">
									<area id="africa" shape="poly" alt="africa" title="" coords="183,153,173,129,176,115,170,107,163,97,145,98,138,85,141,75,149,63,161,58,169,57,173,56,172,61,182,65,185,62,199,65,204,77,211,89,212,92,222,92,221,96,210,110,207,117,221,125,217,141,203,138,192,152" href="" />
									<area id="asia" shape="poly" alt="asia" title="" coords="256,96,259,93,260,83,269,76,277,86,281,96,278,102,289,116,304,111,309,99,295,87,306,70,312,58,311,47,316,39,308,33,306,27,319,29,329,40,331,28,340,20,336,15,311,14,289,11,282,10,280,12,258,10,250,4,236,8,227,12,218,11,223,16,225,23,220,37,222,43,217,45,221,49,221,56,201,58,199,63,202,70,208,79,214,89,225,86,233,77,236,72,247,79" href="" />
									<area id="europe" shape="poly" alt="europe" title="" coords="191,56,177,55,170,46,157,56,149,54,157,38,171,31,168,20,183,11,197,14,220,16,220,32,218,42,213,47,219,55" href="" />
									<area id="austalia" shape="poly" alt="australia" title="" coords="302,155,315,150,322,153,327,162,335,161,342,154,342,108,328,103,321,110,326,119,313,128,297,138,296,151" href="" />
									<area id="north-america" shape="poly" alt="north_america" title="" coords="58,94,55,84,52,79,52,75,42,68,56,67,61,75,66,72,65,61,82,49,90,46,100,42,102,36,102,29,99,21,111,15,115,28,131,18,140,17,156,2,154,0,96,1,90,3,88,9,74,11,66,8,53,8,50,12,35,13,28,10,5,15,0,18,1,32,13,28,22,31,21,42,14,53,18,68,25,76,31,84,40,89" href="" />
									<area id="south-america" shape="poly" alt="south_america" title="" coords="62,102,68,89,81,92,99,101,99,106,105,109,118,113,117,122,113,126,110,140,103,143,97,156,88,165,75,169,71,137,70,131,56,121,54,113,56,106" href="" /-->
								</map>
								<div class="asia"></div>
								<div class="africa"></div>
								<div class="australia"></div>
								<div class="europe"></div>
								<div class="north-america"></div>
								<div class="south-america"></div>
							</div>
						</div>
					<!-- // regions // -->
					<nav class="regions-nav">
						<ul>
							<li><%= link_to 'Europe', hotel_listing_url(:location => 'Europe'), :class => 'europe', :id => 'europe' %></li>
							<li><%= link_to 'Aisa', hotel_listing_url(:location => 'Asia'), :class => 'asia', :id => 'asia' %></li>
							<li><%= link_to 'North America', hotel_listing_url(:location => 'North America'), :class => 'north-america', :id => 'north-america' %></li>
							<li><%= link_to 'South America', hotel_listing_url(:location => 'South America'), :class => 'south-america', :id => 'south-america' %></li>
							<li><%= link_to 'Africa', hotel_listing_url(:location => 'Africa'), :class => 'africa', :id => 'africa' %></li>
							<li><%= link_to 'Australia', hotel_listing_url(:location => 'Australia'), :class => 'australia', :id => 'australia' %></li>
						</ul>
					</nav>
				</div>
				<div class="fly-in mp-b-right">
					<div class="mp-b-lbl">Easy To Navigate</div>
					<div class="reasons-item-a">
						<div class="reasons-lbl">Awesome design</div>
						<div class="reasons-txt"> </div>
					</div>
					<div class="reasons-item-b">
						<div class="reasons-lbl">Many Components</div>
						<div class="reasons-txt"> </div>
					</div>
					<div class="clear"></div>
					<div class="reasons-item-c">
						<div class="reasons-lbl">Adjusting in Size</div>
						<div class="reasons-txt"> </div>
					</div>
					<div class="reasons-item-d">
						<div class="reasons-lbl">fully responsive</div>
						<div class="reasons-txt"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

	</div>

</div>
<!-- /main-cont -->
  <script>
	  $(document).ready(function(){
		'use strict';
		
		var $slideInit = function () {
			$('.mp-slider-lbl,.mp-slider-lbl-a,.mp-slider-lbl-b,.btn-a').css('opacity', '0');
			$('.mp-slider-lbl,.mp-slider-lbl-a,.mp-slider-lbl-b,.btn-a').css('top', '20px');
			var $slide = $('.swiper-slide-active');
			$slide.find('.mp-slider-lbl').animate({
				opacity: 1,
				top: '0'
			}, 360);
			$slide.find('.mp-slider-lbl-a').delay(110).animate({
				opacity: 1,
				top: '0'
			}, 360);
			$slide.find('.mp-slider-lbl-b').delay(150).animate({
				opacity: 1,
				top: '0'
			}, 360);
			$slide.find('.btn-a').delay(200).animate({
				opacity: 1,
				top: '0'
			}, 360);
		}
		var mySwiper = new Swiper('.swiper-container', {
			mode: 'horizontal',
			loop: true,
			autoplay: 7000,
			speed: 1000,
			paginationClickable: true,
			speed: 1000,
			createPagination: true,
			pagination: '.swiper-pagination',
			onSwiperCreated: function (swiper) {
				try {
					$slideInit();
				} catch (err) {

				}
				$('.swiper-preloader-bg').fadeOut();
				$('#preloader').remove();
			},
			onSlideChangeEnd: function (swiper) {
				$slideInit();
			}
		});
			$('.arrow-left').on('click', function (e) {
				e.preventDefault()
				mySwiper.swipePrev()
			});
			$('.arrow-right').on('click', function (e) {
				e.preventDefault()
				mySwiper.swipeNext()
			});
	  });
  </script>

</body>
</html>
