<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="index-page">

<!-- main-cont -->
<div class="main-cont">
<div class="body-padding" id="top-body-padding">
	<div class="mp-slider" id="mp-slider-swipe">
		<div class="mp-slider-row">
			<div class="swiper-container" id="slide-swiper-container">
			    <div class="swiper-preloader-bg"></div>
			    <div id="preloader">
			    	<div id="spinner"></div>
			    </div>

				<a href="#" class="arrow-left"></a>
				<a href="#" class="arrow-right"></a>
				<div class="swiper-pagination"></div>
  				<div class="swiper-wrapper">
      				<div class="swiper-slide">
						<div class="slide-section" style="background:url(assets/sider-01.jpg) center top no-repeat;">
							<div class="mp-slider-lbl">Great journey begins with a small step</div>
							<div class="mp-slider-lbl-a">Make Your Life Better and Bright!  You must trip with Us!</div>
							<div class="mp-slider-btn"><a href="#" class="btn-a">Learn more</a></div>
						</div>
      				</div>
      				<div class="swiper-slide">
						<div class="slide-section slide-b" style="background:url(assets/sider-02.jpg) center top no-repeat;">
							<div class="mp-slider-lbl">Relax with us. we love our clients</div>
							<div class="mp-slider-lbl-a">Make Your Life Better and Bright!  You must trip with Us!</div>
							<div class="mp-slider-btn"><a href="#" class="btn-a">Learn more</a></div>
						</div>
      				</div>
      				<div class="swiper-slide">
						<div class="slide-section slide-b" style="background:url(assets/sider-03.jpg) center top no-repeat;">
							<div class="mp-slider-lbl">the best relax with us</div>
							<div class="mp-slider-lbl-a">Make Your Life Better and Bright!  You must trip with Us!</div>
							<div class="mp-slider-btn"><a href="#" class="btn-a">Learn more</a></div>
						</div>
      				</div>
  				</div>
			</div>
		</div>
	</div>

	<div class="wrapper-a-holder">
	<div class="wrapper-a">

		<!-- // search // -->
		<div class="page-search search-type-a">
			<nav class="page-search-tabs">
				<div class="search-tab active">Where To?</div>
				<div class="clear"></div>
			</nav>
			<div class="page-search-content">
				<!-- // tab content // -->
				<div class="search-tab-content hotels-tab">
				<form action="hotel_listing" method="get">
				<div class="side-block fly-in">
				<div class="side-block-search">
					<div class="page-search-p">
								<!-- // -->
								<div class="srch-tab-line">
									<label>Hotel</label>
									<%= text_field_tag :hotel_name, '', class:'input-a', placeholder: 'Hotel Name' %>
								</div>
								<div class="srch-tab-line">
									<label>Location</label>
									<%= text_field_tag :location, '', class:'input-a', placeholder: 'Location' %>
								</div>
								<!-- // -->
								<!-- // -->
								<div class="srch-tab-line">
									<div class="srch-tab-left">
										<label>Check in</label>
										<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
									</div>
									<div class="srch-tab-right">
										<label>Check out</label>
										<div class="input-a"><input type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
									</div>
									<div class="clear"></div>
								</div>
								<!-- \\ -->
								<!-- // -->
								<div class="srch-tab-line no-margin-bottom" style="display: none;">
									<div class="srch-tab-3c">
										<label>Rooms</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="srch-tab-3c">
										<label>adult</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="srch-tab-3c">
										<label>Child</label>
										<div class="select-wrapper">
										<select class="custom-select">
											<option>--</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<!-- \\ -->
					<button type="submit" class="srch-btn">Search</button>
					</div>
				</div>
				</div>
			</form>
				</div>
				<!-- // tab content hotels // -->
			</div>
		</div>
		<!-- \\ search \\ -->

		<!-- // offer // -->
		<div class="special-offer-a">
			<div class="special-offer-img">
				<a href="#"><img alt="" src="assets/special-offer.jpg" /></a>
			</div>
			<footer class="special-offer-foot">
				<div class="special-offer-foot-l">
					<b>Hotel Du Cap-eden-roc</b>
					<span>Location:France</span>
				</div>
				<div class="special-offer-foot-r">
					<b>$152</b>
					<span>avg/night</span>
				</div>
				<div class="clear"></div>
			</footer>
		</div>
		<!-- \\ offer \\ -->

		<div class="special-offer-b">
			<div class="special-offer-img">
				<a href="#"><img alt="" src="assets/special-offer-2.jpg" /></a>
			</div>
			<footer class="special-offer-foot">
				<div class="special-offer-foot-l">
					<b>Corridor Hotel</b>
					<span>Location:Malaysia</span>
				</div>
				<div class="special-offer-foot-r">
					<b>$215</b>
					<span>avg/night</span>
				</div>
				<div class="clear"></div>
			</footer>
		</div>
		<!-- // offer // -->

		<!-- \\ offer \\ -->





	</div>
	</div>
		<br></br>
	<div class="mp-offesr">
		<div class="wrapper-padding-a">
			<div class="offer-slider">
				<header class="fly-in">
					<div class="offer-slider-lbl">Our Most Popular Destinations</div>
					<p>Adventure is a state of mind - and spirit</p>
					</p>
				</header>
				<div class="fly-in offer-slider-c">
					<div id="offers-a" class="owl-slider">
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider001.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">Paris, france</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JUNE 11 2018 - JUNE 22 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r align-right">
									<b>1200$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider002.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">pattaya, thailand</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JUNE 19 2018 - JUNE 29 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>2200$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider003.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">london, england</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JULY 02 2018 - JULY 08 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>1700$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider008.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">san francisco, usa</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JULY 03 2018 - JULY 10 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>1800$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider005.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">Paris, france</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JULY 11 2018 - JULY 19 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r align-right">
									<b>1550$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider006.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">pattaya, thailand</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">JUNE 12 2018 - JUNE 24 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>2250$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider007.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">london, england</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">MAY 28 2018 - JUNE 05 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>1900$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->
					<!-- // -->
						<div class="offer-slider-i">
							<a class="offer-slider-img" href="#">
								<img alt="" src="assets/slider004.jpg" />
								<span class="offer-slider-overlay">
									<span class="offer-slider-btn">view details</span>
								</span>
							</a>
							<div class="offer-slider-txt">
								<div class="offer-slider-link"><a href="#">san francisco, usa</a></div>
								<div class="offer-slider-l">
									<div class="offer-slider-location">MAY 30 2018 - JUNE 10 2018</div>
									<nav class="stars">
										<ul>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-b.png" /></a></li>
											<li><a href="#"><img alt="" src="assets/star-a.png" /></a></li>
										</ul>
										<div class="clear"></div>
									</nav>
								</div>
								<div class="offer-slider-r">
									<b>3500$</b>
									<span>price</span>
								</div>
								<div class="offer-slider-devider"></div>
								<div class="clear"></div>
							</div>
						</div>
					<!-- \\ -->

					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="mp-b">
			<div class="wrapper-padding">
				<div class="fly-in mp-b-left">
					<div class="mp-b-lbl">choose hotel by region</div>
					<!-- // regions // -->
						<div class="regions">
							<div class="regions-holder">
								<map id="imgmap201410281607" name="imgmap201410281607">
								</map>
								<div class="asia"></div>
								<div class="africa"></div>
								<div class="australia"></div>
								<div class="europe"></div>
								<div class="north-america"></div>
								<div class="south-america"></div>
							</div>
						</div>
					<!-- // regions // -->
					<nav class="regions-nav">
						<ul>
							<li><%= link_to 'Europe', hotel_listing_url(:location => 'Europe'), :class => 'europe', :id => 'europe' %></li>
							<li><%= link_to 'Asia', hotel_listing_url(:location => 'Asia'), :class => 'asia', :id => 'asia' %></li>
							<li><%= link_to 'North America', hotel_listing_url(:location => 'North America'), :class => 'north-america', :id => 'north-america' %></li>
							<li><%= link_to 'South America', hotel_listing_url(:location => 'South America'), :class => 'south-america', :id => 'south-america' %></li>
							<li><%= link_to 'Africa', hotel_listing_url(:location => 'Africa'), :class => 'africa', :id => 'africa' %></li>
							<li><%= link_to 'Australia', hotel_listing_url(:location => 'Australia'), :class => 'australia', :id => 'australia' %></li>
						</ul>
					</nav>
				</div>
				<div class="fly-in mp-b-right">
					<div class="mp-b-lbl">Whose Code Is It Anyways?</div>
					<div class="reasons-item-a">
						<div class="reasons-lbl">Awesome Features</div>
						<div class="reasons-txt"> </div>
					</div>
					<div class="reasons-item-b">
						<div class="reasons-lbl">Many Components</div>
						<div class="reasons-txt"> </div>
					</div>
					<div class="clear"></div>
					<div class="reasons-item-c">
						<div class="reasons-lbl">Adjusting in Size</div>
						<div class="reasons-txt"> </div>
					</div>
					<div class="reasons-item-d">
						<div class="reasons-lbl">Fully responsive</div>
						<div class="reasons-txt"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

	</div>

</div>
<!-- /main-cont -->
  <script>
	  $(document).ready(function(){
		'use strict';

		var $slideInit = function () {
			$('.mp-slider-lbl,.mp-slider-lbl-a,.mp-slider-lbl-b,.btn-a').css('opacity', '0');
			$('.mp-slider-lbl,.mp-slider-lbl-a,.mp-slider-lbl-b,.btn-a').css('top', '20px');
			var $slide = $('.swiper-slide-active');
			$slide.find('.mp-slider-lbl').animate({
				opacity: 1,
				top: '0'
			}, 360);
			$slide.find('.mp-slider-lbl-a').delay(110).animate({
				opacity: 1,
				top: '0'
			}, 360);
			$slide.find('.mp-slider-lbl-b').delay(150).animate({
				opacity: 1,
				top: '0'
			}, 360);
			$slide.find('.btn-a').delay(200).animate({
				opacity: 1,
				top: '0'
			}, 360);
		}
		var mySwiper = new Swiper('.swiper-container', {
			mode: 'horizontal',
			loop: true,
			autoplay: 7000,
			speed: 1000,
			paginationClickable: true,
			speed: 1000,
			createPagination: true,
			pagination: '.swiper-pagination',
			onSwiperCreated: function (swiper) {
				try {
					$slideInit();
				} catch (err) {

				}
				$('.swiper-preloader-bg').fadeOut();
				$('#preloader').remove();
			},
			onSlideChangeEnd: function (swiper) {
				$slideInit();
			}
		});
			$('.arrow-left').on('click', function (e) {
				e.preventDefault()
				mySwiper.swipePrev()
			});
			$('.arrow-right').on('click', function (e) {
				e.preventDefault()
				mySwiper.swipeNext()
			});
	  });
  </script>

</body>
</html>
