<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reservations</title>
	<!-- white bg -->
	<!-- TODO MAKE THIS SEARCH BOX ADJACENT TO THE SEARCH RESULTS -->
	<div class="tm-home-box-1-sticky">
		<div class="tm-search-box effect2">
			<form action="search_reservation" method="get" class="hotel-search-form">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<div class="tm-form-inner">
						<div class="form-group">
							<%= text_field_tag :hotelname, '', class:'form-control', placeholder: 'Hotel Name (optional)' %>
						</div>
						<div class="form-group">
							<%= text_field_tag :city, '', class:'form-control', placeholder: 'City' %>
						</div>
						<div class="form-group">
							<%= text_field_tag :state, '', class:'form-control', placeholder: 'State' %>
						</div>
						<div class="form-group">
							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control" placeholder="Check-in Date" />
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class='input-group date' id='datetimepicker2'>
								<input type='text' class="form-control" placeholder="Check-out Date" />
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group tm-yellow-gradient-bg text-center">
						<button type="submit" name="submit" class="tm-yellow-btn">Search</button>
					</div>
			</form>
		</div>
	</div>

	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3">
						<hr>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<h2 class="tm-section-title">Search Results</h2>
					</div>
					<div class="col-lg-4 col-md-3 col-sm-3">
						<hr>
					</div>
				</div>
			</div>
			<% if @found_hotels.count() > 0 %>
				<% @found_hotels.each do |listing| %>
					<div class="col-lg-6">
						<div class="tm-home-box-3">
							<div class="tm-home-box-3-info">
								<div class="tm-home-box-3-img-container" style="padding-right:30px">
									<%= image_tag(listing.imgurl, alt:"image" ,class:"img-responsive")%>
								</div>
								<p class="tm-home-box-3-description">
									<%= listing.hotelname %>
										<br/> Listing ID: #
										<%= listing.id %>
											<br/>
											<br/> $
											<%= listing.price %>
												<br/>
								</p>
								
								<!-- Display the BOOK NOW button when it is not reserved -->
								<% if !listing.isreserved %>
								<div class="tm-home-box-2-container">
									<%= link_to "Book Now", booknow_path(:hotelid => listing.id, :hotelname => listing.hotelname) %>
										<a href="/" class="tm-home-box-2-link">
											<i class="fa fa-edit tm-home-box-2-icon border-left"></i>
										</a>
										<a href="/" class="tm-home-box-2-link">
											<i class="fa fa-heart tm-home-box-2-icon border-right"></i>
										</a>
								</div>
								<% end %>
							
							</div>
						</div>
					</div>
					<% end %>
						<% else %>
							<h3>
								No hotels found.
								<h3>
									<% end %>
		</div>
	</section>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<!-- jQuery -->
	<script type="text/javascript" src="js/moment.js"></script>
	<!-- moment.js -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
	<!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
	<!--
	<script src="js/froogaloop.js"></script>
	<script src="js/jquery.fitvid.js"></script>
-->
	<script type="text/javascript" src="js/templatemo-script.js"></script>
	<!-- Templatemo Script -->
	</body>

</html>