<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
      <title>LikeHome</title>
	  <meta name="description" content="" />
	  <meta name="keywords" content="" />
	  <meta charset="utf-8" />
	  <!-- THIS IS THE LOGO IN THE TAB -->
	  <link rel="icon" href="assets/favicon.png" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	  <link href="assets/jquery-ui.css" rel="stylesheet"/>
	  <link href="assets/owl.carousel.css" rel="stylesheet"/>
	  <link rel="stylesheet" href="assets/idangerous.swiper.css" />
	  <link rel="stylesheet" href="assets/style.css" />
	  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
	  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css' />
	  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700,800' rel='stylesheet' type='text/css' />
	  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css' />
	  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css' />
	  <link href='http://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css' />
  </head>

 <body>
 	<!-- // authorize // -->
	<div class="overlay"></div>
	<div class="autorize-popup">
		<div class="autorize-tabs">
			<a href="#" class="autorize-tab-a current">Sign in</a>
			<a href="#" class="autorize-tab-b">Register</a>
			<a href="#" class="autorize-close"></a>
			<div class="clear"></div>
		</div>
		<section class="autorize-tab-content">

<% if !user_signed_in? %>
	<div class="autorize-padding">
	<h6 class="autorize-lbl">Welcome! Login in to Your Accont</h6>
	<%= form_for(:user,:url => session_path(:user), :remote => true) do |f| %>
	<div class="field">
    	<%= f.label :email %><br />
    	<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password, autocomplete: "off" %>
	</div>
	<footer class="autorize-bottom">
	<%= f.submit 'Sign in' , class: 'authorize-btn' %>
	<%= link_to "Forgot your password?", new_password_path(:user), class: 'authorize-forget-pass' %>
	<div class="clear"></div>
	</footer> 
	<%= f.check_box :remember_me %>
	<%= f.label :remember_me %>
	</div>
	<% end %>
<% end %>


</section>
<section class="autorize-tab-content">
<div class="autorize-padding">
<%= form_for(:user, :url => registration_path(:user)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", class: 'authorize-btn' %>
  </div>
<% end %>
	</div>
</section>
</div>

<!-- \\ authorize \\-->
<header id="top">
	<div class="header-a">
		<div class="wrapper-padding">
			<div class="header-account">
			<% if !user_signed_in? %>
				<a href="#" >My Account</a>
			<% end %>
			<% if user_signed_in? %>
				<%= button_to('Logout', destroy_user_session_path, method: :delete, class: 'authorize-btn') %>
			<% end %>
			</div>

			<div class="header-viewed">
			<%if user_signed_in? %>
				<a href="#" class="header-viewed-btn">My Account</a>
				<!-- // viewed drop // -->
					<div class="viewed-drop">
						<div class="viewed-drop-a">
							<!-- // -->
							<div class="viewed-item">
									<div class="viewed-item-lbl"><a><%= link_to 'My Reservation', my_reservation_path %></a></div>
									<br>
									<div class="viewed-item-lbl"><a><%= link_to 'Rewards', rewards_path %></a></div>
								</div>

							</div>
							<!-- \\ -->
						</div>
					</div>
				<<% end -%>
				<!-- \\ viewed drop \\ -->
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="header-b">
		<div class="wrapper-padding">
			<!-- THIS IS THE MAIN LOGO ON THE TOP LEFT CORNER -->
			<div class="header-logo"><a href="#"><img alt="" src="assets/logo.png" /></a></div>
			<div class="header-right">
				<div class="hdr-srch">
					<a href="#" class="hdr-srch-btn"></a>
				</div>
				<div class="hdr-srch-overlay">
					<div class="hdr-srch-overlay-a">
						<input type="text" value="" placeholder="Start typing...">
						<a href="#" class="srch-close"></a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="hdr-srch-devider"></div>
				<a href="#" class="menu-btn"></a>
				<nav class="header-nav">
					<ul>
						<li><a><%= link_to 'Home', root_path %></a>
						</li>
						<li><a><%= link_to 'Hotels', hotel_listing_path(:location => 'San Jose') %></a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</header>
<div></div>
<%= yield %>
<footer class="footer-a">
	<div class="wrapper-padding">
		<div class="section">
			<div class="footer-lbl">Get In Touch</div>
			<div class="footer-adress">Address: 1 Washington Sq,<br /> San Jose, CA 95192</div>
			<div class="footer-phones">Telephones: +1 888 888-8888</div>
			<div class="footer-email">E-mail: likehome@hotel.com</div>
			<div class="footer-skype">Skype: likehome</div>
		</div>

		<div class="section">
			<div class="footer-lbl">newsletter sign up</div>
			<div class="footer-subscribe">
				<div class="footer-subscribe-a">
					<input type="text" placeholder="your email" value="" />
				</div>
			</div>
			<button class="footer-subscribe-btn">Sign up</button>
		</div>
	</div>
	<div class="clear"></div>
</footer>

<footer class="footer-b">
	<div class="wrapper-padding">
		<div class="footer-left"> © Copyright 2018 by Whose Code is it Anyways?. All rights reserved.</div>
		<div class="footer-social">
			<a href="https://twitter.com/whosecode" class="footer-twitter"></a>
			<a href="https://www.facebook.com/whosecode" class="footer-facebook"></a>
			<a href="https://www.pinterest.com/whosecode" class="footer-pinterest"></a>
		</div>
		<div class="clear"></div>
	</div>
</footer>


<!-- // scripts // -->
  <script src="assets/jquery.min.js"></script>
  <script src="assets/jqeury.appear.js"></script>
  <script src="assets/jquery-ui.min.js"></script>
  <script src="assets/jquery.formstyler.js"></script>
  <script src="assets/owl.carousel.min.js"></script>
  <script src="assets/bxSlider.js"></script>
  <script src="assets/custom.select.js"></script>
  <script type="text/javascript" src="assets/twitterfeed.js"></script>
  <script src="assets/script.js"></script>
  <script>
  	$(document).ready(function(){
		'use strict';
		(function($) {
			$(function() {
				$('.side-block input').styler({
					selectSearch: true
				});
			});
		})(jQuery);

		var slider_range = $("#slider-range");
		var ammount_from = $("#ammount-from");
		var ammount_to = $("#ammount-to");

		$(function() {
			slider_range.slider({
			  range: true,
			  min: 0,
			  max: 1500,
			  values: [ 275, 1100 ],
			  slide: function( event, ui ) {
				ammount_from.val(ui.values[0]+'$');
				ammount_to.val(ui.values[1]+'$');
			  }
			});
			ammount_from.val(slider_range.slider("values",0)+'$');
			ammount_to.val(slider_range.slider("values",1)+'$');
		});
  	});
  </script>
<!-- \\ scripts \\ -->
  </body>
</html>
